body {
  margin: 0px;
  padding-top: 65px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  z-index: 10;
  width: 100vw;
  position: fixed;
  padding: 10px;
  top: 0px;
  /* margin: 10px; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: white;
  width: 40%;
  padding: 10px;
  margin-left: 10px;
}
.navBar {
  margin-right: 10px;
  padding: 10px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.navBar a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

#about {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.aboutContent {
  color: black;
  width: 50%;
  padding-left: 100px;
  font-size: 60px;
  height: 400px;
}
p {
  margin: 20px;
}
/* h3{
    margin: 0px;
} */
.image{
    width: 50%;
    height: auto;
}
.img {
    margin-left: 50px;
  width: 400px;
  height: 500px;
  border-radius: 5%;
}

.Education {
  padding-top: 65px;

  height: auto;
  width: 100vw;
}

#Education .container {
  margin-top: 70px;
  position: relative;
  padding: 0px 50px 0px 50px;
}
#Education .container::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: black;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 50%;
}

#Education .container .items {
  display: flex;
  padding: 20px;
  padding-bottom: 40px;
}
.Education .container .items .left {
  text-align: right;
  width: 50%;
  margin-right: 20px;
  font-size: 40px;
  font-weight: 700;
}

#Education .container .items .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}
#Education .container .items .content h6 {
  margin: 0px;
  font-size: 20px;
}
#Education .container .items .content p {
  margin: 0px;
  font-size: 20px;
}

#Experience {
  padding-top: 65px;
  height: auto;
  width: 100vw;
  background-color: white;
  color: black;
  padding-bottom: 30px;
}

.commonTitle h2 {
  margin: 0px;
  padding-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}
.commonTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Experience .container {
  margin-top: 70px;
  position: relative;
  padding: 0px 50px 0px 50px;
}

#Experience .container::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: black;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 30%;
}

#Experience .container .items {
  display: flex;
  padding: 20px;
}

#Experience .container .items .content {
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  left: 30px;
}
.timeline {
  text-align: right;
  width: calc(30% - 70px);
  position: relative;
  left: 0%;
  padding: 5px;
  font-size: 20px;
}
#Experience .container .items .content h3 {
  margin: 0px;
  font-size: 30px;
}
#Experience .container .items .content p {
  margin-left: 0px;
  font-size: 20px;
}
#Experience .container .items .content li {
  text-align: justify;
  font-size: 18px;
  font-weight: 100;
  opacity: 0.9;
  margin-bottom: 20px;
}
.items .line {
  background-color: black;
  opacity: 0.4;
  border-width: 0;
  height: 1px;
  position: relative;
  width: 15%;
  left: 20px;
  margin: 0px;
  margin-top: 15.5px;
}
.items .marker {
  width: 15px;
  margin-top: 8px;
  position: relative;
  left: 25px;
  height: 15px;
  background-color: crimson;
  z-index: 1;
  border-radius: 100%;
}

#skills {
  height: 50vh;
  width: 100vw;
}
.headings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.headings ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
.headings ul li {
  list-style: none;
}

.heading .content {
  width: 50%;
  height: 200px;
  left: 0;
  padding: 50px;
  position: absolute;
  left: 25%;
  right: 25%;
  visibility: hidden;
  transition: 1s step-start;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 30px;
}

.heading .content p {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 0, 58, 0.61);
    
    
  }
  
.heading {
  z-index: 3;
  padding: 10px;
}
.heading:hover .content {
  width: 50%;
  height: 100px;
  position: absolute;
  left: 25%;
  right: 25%;
  visibility: visible;
  transition: 0.5s ease-in;
}

#contact {
  width: 100vw;
  height: 50vh;
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.detail{
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail p{
    margin: 10px;
}
@media (width < 760px) {
  .navBar {
    width: 80%;
  }
  .title {
    width: 20%;
  }
  .eduBox {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0px;
  }
  .eduTitle {
    height: 50%;
    width: 100%;
  }
  .educationTitle {
    margin-top: 100px;
  }
}
